body{
    overflow-x: hidden;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
}
.h-primary{
    font-size:1.2rem;
    position:relative;
    margin-top: 12px;
}

#home p{
    display:inline;
    font-size: 1.2rem;
}
.btn{
    margin-top: 2px;
}
.h-primary{
    font-size:1.8rem;
}
#services{
    margin:4px;
    display: flex;
    flex-direction: column;
}
#services .box img{
    margin-top:0px;
} 

/* our clients */
.clients{
    display:flex;
    flex-wrap: wrap;
}
