.navbar{
    display:flex;
    justify-content: center;
    text-decoration: none;
    position:fixed;
    top:23px;
}
ul{
    list-style: none;
}
.navbar li{
    
    text-decoration:none;
}
.navbar li a{
    color: red;
    display:flex;
    text-decoration: none;
    margin: 34px;
    
}
p{
    color:brown;
}
.right-container{
   height:300vh;
 position:absolute;
 right:0px;
 top:100px;

}